body,head{
    
    background-image: url("../imagenes/fondo.jpg")
        
}

h1{color: #fcec2a 
}


#titulo1,#titulo2{ 
   text-align: center;  
   color: #fcec2a 
}

#titulo2{
    color:blue;
}



.contenedor-formulario{
    background:hsl(55, 97%, 58%);
    width:400px;
    margin:0 auto;
    
    border-radius: 5px;
    color: #ff0000;
}
.contenido-formulario{
    padding: 10px;
    
    
}
.titulo-formulario{
    background: #0000ff;
}
